.bootstrap-header {
	border-bottom: 1px solid #e5e5e5;
}

.bootstrap-header-logo {
	font-family: 'Playfair Display', Georgia, 'Times New Roman',
		serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
	font-size: 2.25rem;
}

.bootstrap-header-logo:hover {
	text-decoration: none;
}



.display-4 {
	font-size: 2.5rem;
}
@media (min-width: 768px) {
	.display-4 {
		font-size: 3rem;
	}
}

.flex-auto {
	flex: 0 0 auto;
}


.rightmore {
	float:right;
}

.horizon {
	display: flex;
	width: 2000px;

	/* flex-direction: column;
	height: 100%; */
}

.flex-item {
	font-size:xx-large; 
	border-color: black; 
	border-width: 10px; 
	margin: 50px; 
	background-color: rgb(122, 202, 233)
}



.h-250 {
	height: 250px;
}

@media (min-width: 768px) {
	.h-md-250 {
		height: 250px;
	}
}

/*
 * Footer
 */
.bootstrap-footer {
	padding: 2.5rem 0;
	color:black;
	text-align: center;
	background-color: #f9f9f9;
	border-top: 0.05rem solid #e5e5e5;
}
.bootstrap-footer p:last-child {
	margin-bottom: 0;
}
